* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-size: 55px;
    font-weight: 800;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    margin-left: 25px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 15px;
}


.container {
    box-sizing: border-box;
    width: 100%;
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding: 0 $sidePadding;
}

// SECTION HEADER

.section__header {
    width: 100%;
    text-align: center;
}

.section__title {
    color: #061e37;
    font-weight: 600;
}

.section__subtitle {
    margin: 5px 0;
    color: #b0bec5;
    font-weight: 600;
}

.section__text {
    margin-bottom: 60px;
}

.paragraph {
    margin-top: 15px;
    line-height: 1.5;
    color: #8197a3;
}


// BTN          

.btn {
    min-width: 150px;
    min-height: 55px;
    font-size: 14px;
    padding: 16px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 8%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn--dark {
    background-color: #061e37;
    color: #ffffff;

    &:hover {
        background-color: #ffffff;
        color: #061e37;
        transition: .1s linear;
        cursor: pointer;
    }
}

.btn--light {
    background-color: #1de9b6;
    border: 1px solid #1de9b6;
    color: #ffffff;

    &:hover {
        background-color: #ffffff;
        color: #1de9b6;
        transition: .1s linear;
        cursor: pointer;
    }
}














@media (max-width: 1280px) and (min-width: 1025px) {

}



@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        padding: 0 $sidePaddingTablet;
    }
}

@media (max-width: 1024px) and (min-width: 481px) {
    h1 {
        font-size: 40px;
    }

    .btn {
        font-size: 14px;
    }
}

@media (max-width: 1024px) and (min-width: 361px) {

    .btn {
        min-width: 120px;
        min-height: 40px;
    }
}

@media (max-width: 1024px) {

    p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    .container {
        padding: 0 $sidePaddingMobile;
    }

    h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }

    h4 {
        font-size: 18px;
    }

}

@media (max-width: 768px) and (min-width: 481px) {
    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
    }

    .section__header {
        margin: 30px 0 0;
    }

    .btn {
        font-size: 15px;
    }
}


@media (max-width: 480px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 17px;
    }

    p {
        font-size: 10px;
    }

    .paragraph {
        margin-top: 10px;
        letter-spacing: 1.2px;
        padding: 0 30px;
    }


    .section__header {
        margin: 40px 0 0;
    }

    .section__text {
        margin-bottom: 30px;
    }

    .btn {
        padding: 12px;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 360px) {

    .btn {
        min-width: 100px;
        min-height: 30px;
        font-size: 10px;
    }
}

// mobile menu burger:  onClick add-remove class
