.footer {
    background-color: #061e37;
    padding: 75px 0;
}

.footer__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item:last-child {
    padding-top: 50px;
}

.footer__nav > .nav__link:hover {
    color: #1de9b6;
    transition: .1s linear;
}

.footer__policy {
    font-weight: 500;
    color: #384b5f;
    cursor: pointer;
}

.footer__policy > a:last-child {
    margin-left: 20px;
}

.footer__policy > a:hover {
    color: #85a9ce;
    transition: .2s linear;
}

.footer__socials {
    font-size: 22px;
    color: #384b5f;
}

.footer__socials > i {
    margin-left: 10px;
    cursor: pointer;
}

.footer__socials > i:first-child {
    margin-left: 0;
}

.footer__socials > i:hover {
    color: #78a2ce;
    transition: .2s linear;
}

// MEDIA

@media (max-width: 1024px) and (min-width: 769px) {

    .footer {
        padding: 70px 0;
    }
}

@media (max-width: 768px) {

    .footer {
        padding: 40px 0;
    }

    .footer__item {
        flex-direction: column;
    }

    .footer__item:last-child {
        padding-top: 25px;
    }

    .footer__nav {
        padding-top: 25px;
    }

    .footer__socials {
        padding-top: 25px;
    }
}


@media (max-width: 480px) {

    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__nav > .nav__link {
        text-align: center;
        padding-top: 15px;
        width: 30%;
        margin: 0;
    }
}