.header {
    width: 100%;
    position: absolute;
    z-index: 998;
}

.header__inner {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    //position: relative;
    margin-right: 50px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;

}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {
    color: #061e37;
    transition: .1s linear;
}

.header__btn {
    padding: 8px 18px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.header__btn:hover {
    background-color: #ffffff;
    color: #0cb7bd;
    transition: .2s linear;
    cursor: pointer;
}

.hamburger {
    background: none;
    border: none;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
    background-color: #061e37;
}



@media (max-width: 1280px) and (min-width: 1025px) {
     .nav__link {
         font-size: 17px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {

    .nav__link {
        margin-right: 25px;
    }
}

@media (max-width: 1024px) {

    .nav__menu {
        position: fixed;
        padding: 60px 30px 10px;
        right: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #061e37;
        text-align: center;
        transition: 0.3s;
    }

    .nav__menu.active {
        right: 0;
    }


    .nav__link {
        font-weight: 700;
        color: #0cb7bd;
        margin-right: 0;
        margin-bottom: 25px;
    }


    .nav__link:hover{
        color: #0cb7bd;
    }

    .hamburger {
        position: fixed;
        right: 0;
        transform: translate(-50%, -50%);
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar {
        background-color: #0cb7bd;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header__btn {
        display: none;
    }

    p {
        font-size: 12px;
    }

    .header__btn {
        margin-right: 10px;
    }

    .burger {
        display: block;
    }

    .header__buttons {
        display: inline-flex;
    }
}

@media (max-width: 768px) and (min-width: 481px) {

}
